swagger: '2.0'
info:
  version: '1.0'
  title: "Parceldaily"
  # license:
  #   name: MIT
  #   url: https://github.com/apiaryio/polls-api/blob/master/LICENSE
  description: |
  
    ParcelDaily API is a RESTful API for creating the **`order`** until displaying the **`status order`**. 
    ParcelDaily also provide the calculation of order price for every parcel. You can refer to `https://github.com/Auronex/parceldaily-api-doc` to read more about integration guideline and info.
   
    ### Important Integration Requirement

    Please take note of the following points:

      * We require shippers to cache the **`Token`** and **`Merchant Id`** for their API integration.
      * We suggest shippers to cache the downloaded consignment note as well. Please let our sales team know if you are not caching the consignment note at your end.
      * **`Token`** and **`Merchant Id`** can get in user profile
      * Shippers are encouraged to retry order creation requests IF a **HTTP 5xx** error is returned from our API
      * If a **HTTP 4xx** error is returned, please log the response for your debugging purposes.
        * **Do not** retry the same order creation request without fixing the error specified in the response
      * Minimum for pickup:
        * Poslaju: No Pick up for now
        * DHL: 1 parcels and above
        * NinjaVan: 1 parcels and above
        * J&T: 5 parcels and above
        * Citylink: 1 parcels and above
      * This API documentation is at version 1.0, we are always in a process of making our API more developer friendly as we all are developer. If you find any error message is not descriptive or missing error message, please send an email to **<sales@parceldaily.com>**
    
    
    _**NOTE**_: Please contact your account manager to assign a Sandbox **`Token`** and **`Merchant Id`** for your account. If you are here for play around, you can try use this credential for quick test purpose. 
    
    | Merchant Id | Token  |
    | ----------- | ------------ |
    | 8VqGyrqYCQ  | 950af98c-f033-4cdd-ae8a-82db543a3efe |
    
    ### Base URL By Environment

    | Environment | Base URL  |
    | ----------- | --------- |
    | Production  | https://api.parceldaily.com |
    | Sandbox     | https://api.sandbox.parceldaily.com |
    
host: api.sandbox.parceldaily.com
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /v1/partner/postcode:
    x-summary: Check state
    post:
      description: >-
       Get the state of a postcode in Malaysia
      summary: POST
      parameters:
        - name: token
          in: header
          description: a account secret
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PostcodeRequest'
      responses:
        200:
          description: 'Successfully Responses result'
          schema:
            $ref: '#/definitions/Postcode'
          examples:
            application/json:
                success: 
                  ok : true
                  state: "Pahang"
        401:
          description: 'Unauthorized Responses result'
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
                error: "Unauthorized"
                message: "Secret key must be provided"
                
  /v1/partner/merchant/quote:
    x-summary: Rate Checking
    post:
      description: |
        Get the quote of a order. This API will return different rate depending your user/package tier. Please refer to sales team for more information about the rate
      
        _**NOTE**_: Please take note that if the **`price`** value did'nt show or value is **`0`**, its mean that parcel do not support that postcode
      summary: POST
      parameters:
        - name: token
          in: header
          description: a account secret
          required: true
          type: string
        - name: merchantid
          in: header
          description: a account id
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/QuoteRequest'
      responses:
        200:
          description: 'Successfully Responses result'
          schema:
            $ref: '#/definitions/Quote'
          examples:
            application/json:
                success: 
                  fromPostcode:  
                    Postcode: 25200
                    Place: "Bandar Indera Mahkota"
                    Area: "Kuantan"
                    State: "PHG"
                    StateName: "Pahang"
                  toPostcode: 
                    Postcode: 25200
                    Place: "Bandar Indera Mahkota"
                    Area: "Kuantan"
                    State: "PHG"
                    StateName: "Pahang"
                  totalPrice: "6.50"
                  cod: 2
                  dhlPrice: "11.80"
                  dhlCod: "5.30"
                  dhlPostage: "11.80"
                  nvPrice: "14.00"
                  nvCod: "5.00"
                  nvPostage: "9.00"
                  jntPrice: "8.00"
                  citylinkPrice: "9.00"
                
        422:
          description: 'Empty value Responses result'
          schema:
            $ref: '#/definitions/ErrorEmpty'
          examples:
            application/json:
                error: {
                  destination: [
                    "Should not be empty",
                    "Does not fulfill requirement: isLength"
                  ]
                }
        401:
          description: 'Unauthorized Responses result'
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
                error: "Unauthorized"
                message: "Secret key must be provided"
  
  /v1/partner/order/create:
    x-summary: Create Order
    post:
      description: |
        Creates a new order. When a order is create, it means added into cart. You will need to call Checkout API to checkout the order. 
        
        _**NOTE**_: Please take note that the **`price`** value must be same with the checking price API and parcel **`jnt`** didnt provide for sandbox
      summary: POST
      parameters:
        - name: token
          in: header
          description: a account secret
          required: true
          type: string
        - name: merchantid
          in: header
          description: a account id
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateOrderRequest'
      responses:
        200:
          description: 'Successfully Responses result'
          schema:
            $ref: '#/definitions/CreateOrder'
          examples:
            application/json:
                success: {
                  serviceProvider: "dhl",
                  merchant: {
                      name: "Auronex ",
                      BRN: "002074755",
                      memberType: "Normal",
                      package: {
                          __type: "Pointer",
                          className: "Package",
                          objectId: "KNPjuvbgHo"
                      },
                      createdAt: "2020-11-24T07:39:59.033Z",
                      updatedAt: "2021-04-20T03:37:32.656Z",
                      phone: "0179339876",
                      bankName: "Maybank",
                      bankAccount: "7125642365",
                      totalTopup: 3,
                      credits: 53208.6,
                      objectId: "scsMoA9S1N",
                      __type: "Object",
                     className: "Merchant"
                  },
                  price: 6.5,
                  content_value: 2,
                  receiver: {
                      email: "ahmad@gmail.com",
                      merchant: {
                          __type: "Pointer",
                          className: "Merchant",
                          objectId: "scsMoA9S1N"
                      },
                      city: "Kuantan",
                      postcode: "25200",
                      phone: "60125875469",
                      state: "Pahang",
                      fullName: "ahmad",
                      line1: "No.10, Jalan Besar 12,",
                      line2: "Taman E",
                      createdAt: "2020-11-24T08:20:03.924Z",
                      updatedAt: "2020-12-23T13:04:00.596Z",
                      objectId: "ZgM2i48XNF",
                      __type: "Object",
                      className: "ClientAddress"
                  },
                  content: "2",
                  kg: 2,
                  cod: null,
                  pickup: {
                      merchant: {
                          __type: "Pointer",
                          className: "Merchant",
                          objectId: "scsMoA9S1N"
                      },
                      email: "wanmuhdamin@gmail.com",
                      city: "Kuantan",
                      postcode: "25200",
                      phone: "60135785469",
                      state: "Pahang",
                      fullName: "Wan",
                      line1: "No.12, Lororng IM12/16,",
                      line2: "Taman Alam Perdana",
                      createdAt: "2020-11-24T08:20:03.718Z",
                      updatedAt: "2021-04-09T11:50:18.645Z",
                      objectId: "3G4KCnNw9f",
                      __type: "Object",
                      className: "Address"
                  },
                  createdAt: "2021-04-20T04:15:24.225Z",
                  updatedAt: "2021-04-20T04:15:24.225Z",
                  objectId: "ykBc5wQuWw"
                }
        422:
          description: 'Server calculated price does not match submitted price'
          examples:
            application/json:
                error: {}
        401:
          description: 'Unauthorized Responses result'
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
                error: "Unauthorized"
                message: "Secret key must be provided"
                
  /v1/partner/order/payAll:
    x-summary: Checkout Order
    post:
      description: |
        Making payment for the selected order. Please make sure you have enough credit in the wallet for better integration.
        
         _**NOTE**_: Please take note that **`J&T`** take some time to success compare with other courier and auto **`refund`** will trigger if order fail
      summary: POST
      parameters:
        - name: token
          in: header
          description: a account secret
          required: true
          type: string
        - name: merchantid
          in: header
          description: a account id
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PayOrderRequest'
      responses:
        200:
          description: 'Successfully Responses result'
          schema:
            $ref: '#/definitions/PayOrder'
          examples:
            application/json:
                success: [
                  "sfMeOuzvtK"
                ]
        500:
          description: 'Object not found'
          examples:
            application/json:
                error: {
                  message: "Object not found.",
                  code: 101
                }
        401:
          description: 'Unauthorized Responses result'
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
                error: "Unauthorized"
                message: "Secret key must be provided"
                
  /v1/partner/orders:
    x-summary: Get all orders
    get:
      description: >-
        Get all purchases order and their description.
      summary: GET
      parameters:
        - name: token
          in: header
          description: a account secret
          required: true
          type: string
        - name: merchantid
          in: header
          description: a account id
          required: true
          type: string
      responses:
        200:
          description: 'Successfully Responses result'
          examples:
            application/json:
                orders: [
                  {
                    consignNote: "5520120314210252",
                    name: "Auronex",
                    receiver: "Jonny",
                    pickup: "Alex",
                    pickupEmail: "test@example.com",
                    content: "item",
                    receiverAddress: {
                        line1: "No 5, Jalan Impian 4",
                        city: "Selangor",
                        postcode: "47000",
                        phone: "60120101010",
                    },
                    pickupAddress: {
                        line1: "No.12, Lororng I 2/1,",
                        line2: "Taman A",
                        city: "Kuantan",
                        postcode: "25200"
                    },
                    orderId: "GSP5EcMGg6",
                    orderStatus: "Waiting Pickup",
                    orderLastUpdateStatus: "2021-03-18T18:10:54.713Z",
                    orderLastUpdateStatusDiffDay: 31,
                    kg: 5,
                    price: 19.3,
                    cod: 50,
                    paid: true,
                    serviceProvider: "dhl",
                    archived: "",
                    createdAt: "2021-03-18T12:45:43.016Z",
                    weight: 5,
                    receiverState: "Selangor",
                    pickupState: "Pahang"
                  }
                ]
        401:
          description: 'Unauthorized Responses result'
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
                error: "Unauthorized"
                message: "Secret key must be provided"
                
  /v1/partner/track/:
    x-summary: Tracking
    post:
      description: >-
        Tracking order.
      summary: POST
      parameters:
        - name: token
          in: header
          description: a account secret
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TrackOrderRequest'
      responses:
        200:
          description: 'Successfully Responses result'
          schema:
            $ref: '#/definitions/TrackOrder'
          examples:
            application/json:
                ninjavan: [
                  {
                    consign_no: "NVMYAXVEL000001063",
                    serviceProvider: "ninjavan",
                    status: "Waiting Pickup",
                    lastUpdateStatus: "2021-04-20T10:14:06.476Z"
                  }
                ]
        401:
          description: 'Unauthorized Responses result'
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
                error: "Unauthorized"
                message: "Secret key must be provided"
  
  /v1/partner/consign-pdf/:
    x-summary: Download Consignment Note
    post:
      description: >-
        Download the consignment note through signed URL. The signed URL will be expired upon visiting.
      summary: POST
      parameters:
        - name: token
          in: header
          description: a account secret
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DownloadConnoteRequest'
      responses:
        200:
          description: 'Successfully Responses result'
          # schema:
          #   $ref: '#/definitions/DownloadConnote'
          # examples:
          #   application/json:
          #       ninjavan: [
          #         {
          #           consign_no: "NVMYAXVEL000001063",
          #           serviceProvider: "ninjavan",
          #           status: "Waiting Pickup",
          #           lastUpdateStatus: "2021-04-20T10:14:06.476Z"
          #         }
          #       ]
        401:
          description: 'Unauthorized Responses result'
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
                error: "Unauthorized"
                message: "Secret key must be provided"
  
  /v1/partner/getpl9:
    x-summary: Download PL9 form
    get:
      description: |
        Download the PL9 form through signed URL. The signed URL will be expired upon visiting.
        
        _**NOTE**_: Please take note that the user need to have one **`PL9 form`** when have poslaju parcel pickup and it's only available for _**production**_
      summary: GET
      parameters:
        - name: token
          in: header
          description: a account secret
          required: true
          type: string
        - name: merchantid
          in: header
          description: a account id
          required: true
          type: string
      responses:
        200:
          description: 'Successfully Responses result'
        401:
          description: 'Unauthorized Responses result'
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
                error: "Unauthorized"
                message: "Secret key must be provided"
                      
                
                    
definitions:
  Postcode:
    title: Postcode
    type: object
    properties:
      success:
        type: object
        properties:
          ok:
            type: string
            description: >-
              Result correct
          state:
            type: string
            description: >-
              Malaysia state
  PostcodeRequest:
    title: Postcode Request
    type: object
    properties:
      postcode:
        type: string
        example: "25200"
        description: |
          * Must be malaysia postcode 
          * Must be 5 digit postcode
    required:
      - postcode
    example:
      postcode: "25200"
      
  Quote:
    title: Quote
    type: object
    properties:
      success:
        type: object
        properties:
          fromoPostcode:
            type: object
            properties:
              Postcode:
                type: string
                description: >-
                  Malaysia postcode
              Place:
                type: string
                description: >-
                  Name of place
              Area:
                type: string
                description: >-
                  Name of city
              State:
                type: string
                description: >-
                  Short name of state
              StateName:
                type: string
                description: >-
                  Name of state
          toPostcode:
            type: object
            properties:
              Postcode:
                type: string
                description: >-
                  Malaysia postcode
              Place:
                type: string
                description: >-
                  Name of place
              Area:
                type: string
                description: >-
                  Name of city
              State:
                type: string
                description: >-
                  Short name of state
              StateName:
                type: string
                description: >-
                  Name of state
          poslajuPrice:
            type: string
            description: >-
              Price for poslaju
          cod:
            type: string
            description: >-
              COD price
          dhlPrice:
            type: string
            description: >-
              Price for dhl
          dhlCod:
            type: string
            description: >-
              Price dhl charge for COD
          dhlPostage:
            type: string
            description: >-
              Price dhl without including COD
          nvPrice:
            type: string
            description: >-
              Price for ninjavan
          nvCod:
            type: string
            description: >-
              Price ninjavan charge for COD
          nvPostage:
            type: string
            description: >-
              Price ninjavan without including COD
          jntPrice:
            type: string
            description: >-
              Price for j&t
          citylinkPrice:
            type: string
            description: >-
              Price for citylink
  QuoteRequest:
    title: Quote Request
    type: object
    properties:
      origin:
        type: integer
        example: 25200
        description: |
          Postcode from destination
          * Must be malaysia postcode 
          * Must be 5 digit postcode
      destination:
        type: integer
        example: 25200
        description: |
          Postcode to destination
          * Must be malaysia postcode 
          * Must be 5 digit postcode
      weight:
        type: integer
        # maximum: 30
        description: |
          Weight of parcel
      cod:
        type: integer
        # maximum: 4000
        description: |
          Cash On Delivery Price 
          * Only available for **DHL** and **Ninjavan**
    required:
      - origin
      - destination
      - weight
    example:
      origin : 25200
      destination : 25200
      weight : 2
      cod : 0
  
  CreateOrder:
    title: Create Order
    type: object
    properties:
      success:
        type: object
        properties:
          serviceProvider:
            type: string
            description: |
              Type of parcel
          merchant:
            type: object
            description: |
              Merchant info
          price:
            type: integer
            description: |
              Total Price
          content_value:
            type: string
            description: |
              Value of parcel
          receiver:
            type: object
            description: |
              Receiver info
          content:
            type: string
            description: |
              Parcel discription
          kg:
            type: integer
            description: |
              Weight of parcel
          cod:
            type: string
            description: |
              COD price
          pickup:
            type: object
            description: |
              Pickup info
          createAt:
            type: string
            description: |
              Datetime of parcel created
          updateAt:
            type: string
            description: |
              Datetime of parcel created
          objectId:
            type: string
            description: |
              Order ID
  CreateOrderRequest:
    title: Create Order Request
    type: object
    properties:
      serviceProvider:
        type: string
        example: dhl, poslaju, ninjavan, citylink, jnt
        description: |
          Type of parcel
      pickupAddress:
        type: object
        description: >-
          Sender Address
        properties:
          fullName:
            type: string
            minLength: 3
            example: Sam
            description: |
              Sender name
          phone:
            type: string
            minLength: 10
            maxLength: 11
            example: "017-1425324"
            description: |
              Sender Phone number 
              * Malaysian phone number format
          email:
            type: string
            format: email
            example: sender@test.com
            description: |
              Sender email
              * Must be valid email address
          line1:
            type: string
            maxLength: 50
            example: No.1, Lorong A
            description: >-
              Sender Line 1 Address
          line2:
            type: string
            maxLength: 50
            example: Taman A
            description: >-
              Sender Line 2 Address  
          city:
            type: string
            example: Kuantan
            description: |
              Sender CIty Address 
              * Must be malaysian city
          postcode:
            type: string
            example: "25200"
            description: |
              Sender Postcode Address 
              * Must be malaysia postcode 
              * Must be 5 digit postcode
          state:
            type: string
            example: Pahang
            description: |
              Sender State Address 
              * Must be malaysian state
        
        required:
        - fullName
        - phone
        - email
        - line1
        - line2
        - city
        - postcode
        - state
      clientAddress:
        type: object
        description: >-
          Receiver Address id
        properties:
          fullName:
            type: string
            minLength: 3
            example: Mex
            description: |
              Receiver name
          phone:
            type: string
            minLength: 10
            maxLength: 11
            example: "017-1414521"
            description: |
              Receiver Phone number 
              * Malaysian phone number format
          email:
            type: string
            format: email
            example: receiver@test.com
            description: |
              Receiver email
              * Must be valid email address
          line1:
            type: string
            maxLength: 50
            example: No.1, Lorong B
            description: >-
              Receiver Line 1 Address
          line2:
            type: string
            maxLength: 50
            example: Taman B
            description: >-
              Receiver Line 2 Address  
          city:
            type: string
            example: Kuantan
            description: |
              Receiver CIty Address 
              * Must be malaysian city
          postcode:
            type: string
            example: "25200"
            description: |
              Receiver Postcode Address 
              * Must be malaysia postcode 
              * Must be 5 digit postcode
          state:
            type: string
            example: Pahang
            description: |
              Receiver State Address 
              * Must be malaysian state
        
        required:
        - fullName
        - phon
        - email
        - line1
        - line2
        - city
        - postcode
        - state
      kg:
        type: integer
        description: |
          Weight of parcel 
      price:
        type: integer
        description: >-
          Get the price from quotation api
      content:
        type: string
        maxLength: 50
        example: book
        description: |
          Pracel detail description
      content_value:
        type: integer
        description: >-
          Parcel detail value 
      cod:
        type: integer
        description: |
          Cash On Delivery Price
          * Only available for **DHL** and **Ninjavan**
    required:
      - serviceProvider
      - pickupAddress
      - clientAddress
      - kg
      - price
      - content
      - content_value
    example:
      serviceProvider : "dhl"
      pickupAddress : 
          fullName : "Sam"
          phone : "0171414521"
          email : "sender@test.com"
          line1 : "No.1, Lorong A"
          line2 : "Taman A"
          city : "Kuantan"
          postcode : "25200"
          state : "Pahang"
      clientAddress : 
          fullName : "Mex"
          phone : "0171414521"
          email : "receiver@test.com"
          line1 : "No.1, Lorong B"
          line2 : "Taman B"
          city : "Kuantan"
          postcode : "25200"
          state : "Pahang"
      kg : 2
      price : 6.5
      content : "2"
      content_value : 2
  
  PayOrder:
    title: Pay All Order
    type: object
    properties:
      success:
        type: array
        description: >-
          List of order id that successfully pay
  PayOrderRequest:
    title: Get All Order Request
    type: object
    properties:
      orderIds:
        type: array
        description: >-
          Order Id that want to make purchase
    required:
      - orderIds
    example:
      orderIds: [
        sfMeOuzvtK
      ]
  
  TrackOrder:
    title: Track Order
    type: object
    properties:
      ninjavan:
        type: array
        description: >-
          Parcel type
        items:
          type: object
          properties:
            consign_no:
              type: string
              description: >-
                Consignment number of tracking 
            serviceProvider:
              type: string
              description: >-
                Type of parcel 
            status:
              type: string
              description: >-
                Parcel status
            lastUpdatesStatus:
              type: string
              description: >-
                Datetime for updated parcel status 
  TrackOrderRequest:
    title: Track Order Request
    type: object
    properties:
      connote:
        type: string
        example: NVMYAXVEL000001063
        description: >-
          Parcel tracking number
    required:
      - connote
    example:
      connote: NVMYAXVEL000001063
      
  DownloadConnote:
    title: Download Connote
    type: object
    # properties:
    #   connote:
    #     type: string
    # required:
    #   - connote
  DownloadConnoteRequest:
    title: Download Connote Request
    type: object
    properties:
      connote:
        type: string
        description: >-
          Parcel tracking number
    required:
      - connote
    example:
      connote: NVMYAXVEL000001063
      
  Error:
    type: object
    properties:
      error:
        type: string
        description: >-
          Type of errorr
      message:
        type: string
        description: >-
          Error message
  
  ErrorEmpty:
    type: object
    properties:
      error:
        type: object
        description: >-
          Attribute that contain error  
        properties:
          destination:
            type: array
            items:
              type: string
              description: >-
                Error message
  